<p id="notice"><%= notice %></p>

<p>
  <strong>Bracket:</strong>
  <%= @result.bracket %>
</p>

<p>
  <strong>Results:</strong>
  <%= @result.results %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
