<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :winner_cut %><br>
    <%= f.text_field :winner_cut %>
  </div>
  <div class="field">
    <%= f.label :runner_up_cut %><br>
    <%= f.text_field :runner_up_cut %>
  </div>
  <div class="field">
    <%= f.label :organizer_cut %><br>
    <%= f.text_field :organizer_cut %>
  </div>
  <div class="field">
    <%= f.label :entry_cost %><br>
    <%= f.text_field :entry_cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
